.user-games {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.game-navigation {
    display: flex;
    height: clamp(220px, 30vh, 300px);
}

.page-control {
    height: 80%;
    background-color: var(--pressed-surface);
    border-radius: 5px;
    font-weight: 800;
    opacity: 0.4;
    transition: opacity 0.2s ease-in;
}

.page-control:hover {
    opacity: 1;
}