
@import url(../main.css);

.login-main {
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.login-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../img/roprepo-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    transform: scale(1.05); /* evita bordas vazadas */
    z-index: 0;
}

.login-main > * {
    position: relative;
    z-index: 1;
}

.acess-form {
    background-color: var(--background-color);
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 1rem 0.5rem;
    width: clamp(500px, 35vw, 900px);
    height: clamp(450px, 50vh, 800px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.input-group input {
    width: 85%;
}

.form-acess a {
    color: inherit;
    font-weight: 500;
}

.form-btn {
    padding: var(--input-padding);
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 60%;
    transition: background-color 0.3s, color 0.4s, border-color 0.4s, border 0.4s;
    font-weight: 700;
}

.form-btn:hover {
    background-color: var(--pressed-surface);
}

.login-footer {
    height: 10vh;
}