/* Ajuste de modo claro e escuro */

:root {
    --background-color: #ffffff;
    --text-color: #202227;
    --surface-color: #f7f7f8;
    --pressed-surface: #edeef1;
    --border-color: #dbdce3;
    --input-padding: 0.75rem;
}

.dark-mode {
    --background-color: #121215;
    --text-color: #f7f7f8;
    --surface-color: #191a1f;
    --pressed-surface: #212227;
    --border-color: #2f3139;
}