@import url(global/fonts.css);
@import url(global/root.css);

/* GLOBAL */

* {
    font-family: 'Builder Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    border: none;
}

/* HEADER */

header {
    height: 6vh;
    min-height: 50px;
    background-color: var(--surface-color);
    display: flex;
    padding: 0 1%;
    gap: clamp(1rem, 2vw, 3rem);
    align-items: center;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.nav-link{
    align-items: center;
    font-weight: 500;
}

.nav-link:hover {
    border-bottom-color: var(--text-color);
}

.roprepo-logo {
    height: 90%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.roprepo-link {
    height: 100%;
}

.roprepo-logo-img {
    height: 85%;
}

.page-switch {
    display: flex;
    justify-content: space-evenly;
    gap: clamp(10px, 2vw, 30px);
    flex-shrink: 0;
}

.search-bar {
    height: 85%;
    flex-grow: 1;
    min-width: 100px;
    max-width: 200px;
}

.user-section {
    flex-shrink: 0; 
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}

.profile-src {
    height: 85%;
    display: flex;
    align-items: center;
}

.user-pfp {
    height: 95%;
}

.robux-card {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.35rem;
    text-wrap: nowrap;
}

.robux-card p {
    font-weight: 600;
}

.robux-card:hover {
    background-color: var(--surface-color);
}

.robux {
    height: 55%;
    filter: brightness(100);
}

.theme-mode {
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.theme-mode-img {
    height: 75%;
}

/* MAIN */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

h1 {
    font-size: clamp(1rem, 10vw, 2.5rem);
}

/* FOOTER */

footer {
    height: 5vh;
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.edxzy-media {
    color: inherit;
}

/* INPUT */

input {
    outline: none;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    padding: var(--input-padding);
    background-color: var(--surface-color);
    opacity: 1;
    overflow: hidden;
    transition: all 0.4s;
}

input:hover {
    background-color: var(--pressed-surface);
}

input:focus {
    border-color: var(--text-color);
}

/* DARK MODE */
.dark-mode {
    --background-color: #121215;
    --text-color: #f7f7f8;
    --surface-color: #191a1f;
    --pressed-surface: #212227;
    --border-color: #2f3139;
}

body:not(.dark-mode) .roprepo-logo-img {
    filter: brightness(0);
}

body:not(.dark-mode) .robux {
    filter: brightness(0);
}

body.dark-mode .theme-mode-img {
    filter: brightness(100);
}


/* CLASSES AUXILIARES */
.hidden {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    pointer-events: none;
}

.killed {
    display: none;
}

.invisible-text {
    color: transparent;
}

.highlight-border {
    border-color: var(--text-color) !important;
}

.blocked > * {
    pointer-events: none;
    opacity: 0.5;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 1rem;
}

.user-pfp {
    background-color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

/* MEDIA QUERIES */

/* TODO: Desenvolver @media de Dispositivos com Máximo de 780px width */